<map-controls />

<map 
  latitude="10.348"
  longitude="123.748"
  zoom="9"
  minZoom="9"
  maxZoom="18"
  northBounds="11.448"
  southBounds="9.348"
  eastBounds="124.748"
  westBounds="123.248"
  on-click="handleMapClick"
  on-markerclick="handleMarkerClick"
/>

<sidebar-form
  visible="{{isFormSidebarVisible}}"
  on-close="hideFormSidebar"
  on-submitsuccess="hideFormSidebar"
/>

<sidebar-data 
  visible="{{isDataSidebarVisible}}"
  on-markerEdit=""
  on-badgedeletesuccess="handleBadgeDeleteSuccess"
/>

<script>

var CurrentBadgeStore = require('stores/badge-current');

component.exports = {
  isolated: true,
  twoway: false,
  components: {
    'map': require('rvc!components/map'),
    'map-controls': require('rvc!components/map-controls'),
    'sidebar-form': require('rvc!components/sidebar-form'),
    'sidebar-data': require('rvc!components/sidebar-data'),
  },
  data :{
    isFormSidebarVisible: false,
    isDataSidebarVisible: false,
    badges: [],
  },
  oninit : function(){
    var component = this;

    this.on('handleMapClick', this.handleMapClick);
    this.on('hideFormSidebar', this.hideFormSidebar);
    this.on('handleMarkerClick', this.handleMarkerClick);
    this.on('handleMarkerDelete', this.handleMarkerDelete);
    this.on('handleBadgeDeleteSuccess', this.handleBadgeDeleteSuccess);

  },
  handleMapClick: function(event){

    // Depending on state, we mutiplex what a click actually does.
    // For now, it only adds badges
    this.addBadge(event.latlng.lat, event.latlng.lng);

  },
  addBadge: function(latitude, longitude){
    // Tell the map to put a marker for add badge
    this.findComponent('map').moveNewBadgeMarker(latitude, longitude);

    // Show the form and update the coordinates
    this.showFormSidebar();
    this.findComponent('sidebar-form').setCoordinates(latitude, longitude);
  },
  showFormSidebar: function(){
    this.set('isFormSidebarVisible', true);
    this.hideDataSidebar();
  },
  hideFormSidebar: function(){
    this.set('isFormSidebarVisible', false);
  },
  showDataSidebar: function(){
    this.set('isDataSidebarVisible', true);
    this.hideFormSidebar();
  },
  hideDataSidebar: function(){
    this.set('isDataSidebarVisible', false);
  },
  handleMarkerClick: function(markerId){
    this.showDataSidebar();
    CurrentBadgeStore.update({
      id: markerId
    });
  },
  handleBadgeDeleteSuccess: function(){
    this.hideDataSidebar();   
  },
};

</script>
