<map-controls />

<map 
  latitude="10.348"
  longitude="123.748"
  zoom="9"
  minZoom="9"
  maxZoom="18"
  northBounds="11.448"
  southBounds="9.348"
  eastBounds="124.748"
  westBounds="123.248"
  markerData="{{markerData}}"
  on-click="handleMapClick"
/>

<sidebar-form
  visible="{{isFormSidebarVisible}}"
  on-close="hideFormSidebar"
/>

<sidebar-data 
  visible="{{isDataSidebarVisible}}"
  on-edit=""
/>

<script>

var badges = $.get('/badges');
var ABUNDANCE_TO_COLOR = {
  abundant : 'green',
  average : 'yellow',
  severe : 'red',
  created : 'blue',
};

component.exports = {
  isolated: true,
  twoway: false,
  components: {
    'map': require('rvc!components/map'),
    'map-controls': require('rvc!components/map-controls'),
    'sidebar-form': require('rvc!components/sidebar-form'),
    'sidebar-data': require('rvc!components/sidebar-data'),
  },
  data :{
    isFormSidebarVisible: false,
    badges: [],
  },
  computed: {
    markerData: function(){
      return this.get('badges').map(function(badge){
        return {
          id : badge.id,
          latitude: badge.latitude,
          longitude: badge.longitude,
          color: ABUNDANCE_TO_COLOR[badge.abundance]
        };
      });
    },
  },
  oninit : function(){
    var component = this;

    this.on('handleMapClick', this.handleMapClick);
    this.on('hideFormSidebar', this.hideFormSidebar);

    badges.then(function(badgeData){
      component.set('badges', badgeData);
    });
  },
  handleMapClick: function(event){

    // Depending on state, we mutiplex what a click actually does.
    // For now, it only adds badges
    this.addBadge(event.latlng.lat, event.latlng.lng);

  },
  addBadge: function(latitude, longitude){
    // Tell the map to put a marker for add badge
    this.findComponent('map').addBadge(latitude, longitude);

    // Show the form and update the coordinates
    this.showFormSidebar();
    this.findComponent('sidebar-form').setCoordinates(latitude, longitude);
  },
  showFormSidebar: function(){
    this.set('isFormSidebarVisible', true);
  },
  hideFormSidebar: function(){
    this.set('isFormSidebarVisible', false);
  },
};

</script>
