<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TreeTrail</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Add Badge</a></li>
        <li><a href="#">Filter Badges</a></li>
        <li><a href="#">Statistics</a></li>
        <li><a href="#">About Project Tree Trail</a></li>
      </ul>
    </div>

  </div>
</nav>

<style>
.navbar{
  margin: 0;
}
</style>