<div class="map"></div>

<style>
.map {
  width: 100%;
  height: 100%;
}
.leaflet-marker-icon {
  margin-left: -12.5px;
  margin-top: -41px;
}
.leaflet-marker-shadow {
  margin-left: -12.5px;
  margin-top: -41px;
}
</style>

<script>
var L = require('leaflet');
var BadgeStore = require('stores/badges-filtered');
var ABUNDANCE_TO_COLOR = {
  abundant: 'green',
  average: 'yellow',
  scarce: 'red',
  created: 'blue',
};

component.exports = {
  isolated: true,
  twoway: false,
  existingMarkers: [],
  map: null,
  newBadgeMarker: null,
  data: {
    longitude: 0,
    latitude: 0,
    zoom: null,
    minZoom: null,
    maxZoom: null,
    northBounds: null,
    southBounds: null,
    eastBounds: null,
    westBounds: null,
    markerData: [],
    assetsDirectory: '/static/images'
  },
  onrender: function() {
    var component = this;
    var latitude = this.get('latitude');
    var longitude = this.get('longitude');
    var zoom = this.get('zoom');
    var iconPath = this.get('assetsDirectory');

    // Create the map
    this.map = L.map(this.find('.map'), {
      center: [
        this.get('latitude'),
        this.get('longitude'),
      ],
      zoom: this.get('zoom'),
      minZoom: this.get('minZoom'),
      maxZoom: this.get('maxZoom'),
      maxBounds: [
        [this.get('northBounds'), this.get('eastBounds')],
        [this.get('southBounds'), this.get('westBounds')],
      ],
    });

    component.set('badges', BadgeStore.getState());
    BadgeStore.on('change', function(badgeData) {
      component.set('badges', badgeData.map(function(badge) {
        return {
          id: badge.id,
          latitude: badge.latitude,
          longitude: badge.longitude,
          color: ABUNDANCE_TO_COLOR[badge.abundance]
        };
      }));
    });

    // Add the markers
    this.observe('badges', function(markerData) {
      // Wipe the map off first
      component.removeNewBadgeMarker();
      component.existingMarkers.forEach(function(marker) {
        component.removeMarker(marker);
      });

      // Create new markers
      component.existingMarkers = markerData.map(function(marker) {
        return component
          .createMarker(marker.latitude, marker.longitude, iconPath, marker.color)
          .addTo(component.map)
          .on('click', function(event) {
            component.fire('markerclick', marker.id);
          });
      });
    });

    // Adds tile layers
    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
      maxZoom: 18
    }).addTo(this.map);

    // Listen to map events
    this.map.on('click', this.handleClick.bind(this));
  },
  handleClick: function(event) {
    this.fire('click', event);
  },
  moveNewBadgeMarker: function(latitude, longitude) {
    this.removeNewBadgeMarker();
    this.addNewBadgemarker(latitude, longitude);
  },
  addNewBadgemarker: function(latitude, longitude) {
    this.newBadgeMarker = L.marker([latitude, longitude]).addTo(this.map);
  },
  removeNewBadgeMarker: function() {
    if (this.newBadgeMarker) this.removeMarker(this.newBadgeMarker);
  },
  removeMarker: function(marker) {
    this.map.removeLayer(marker);
  },
  createMarker: function(latitude, longitude, path, color) {
    return L.marker([latitude, longitude], {
      icon: L.icon({
        iconUrl: [path, '/', color, '.png'].join(''),
        shadowUrl: [path, '/marker-shadow.png'].join('')
      }),
    });
  }
};
</script>
