<button type="button" class="btn btn-default" on-click="openFileDialog">Upload photos</button>
<input type="file" on-change="uploadSelectedFile" accept=".png,.jpg,.gif" />

<style type="text/css">
input[type=file]{
  display: none;
}
</style>

<script>
component.exports = {
  isolated: true,
  data: {
    path : '',
  },
  oninit: function(){
    this.on('openFileDialog', this.openFileDialog);
    this.on('uploadSelectedFile', this.uploadSelectedFile);
  },
  openFileDialog: function(event){
    $(this.find('input[type=file]')).trigger('click');
  },
  uploadSelectedFile: function(event){
    alert('foo');
  },
};

</script>