<div class="sidebar {{# visible }}visible{{/}}">
  {{# badge }}
  {{#showManagementButtons && !badge.approved}}
  <div class="panel panel-warning management-buttons">
    <div class="panel-body text-center">
      <h2 class="heading">Attention</h2>
      <p>This location has not yet been approved and is not visible on the public map view. Please review this location and select the appropriate action.</p>
      <button type="button" class="btn btn-success" on-click="acceptMarker">Accept</button>
      <button type="button" class="btn btn-danger" on-click="deleteMarker">Reject</button>
    </div>
  </div>
  {{/}}

  {{#showManagementButtons && badge.approved}}
  <a href="#" class="close" on-click="deleteMarker"><span class="glyphicon glyphicon-trash"></span></button>
  {{/}}

  {{# !(showManagementButtons || badge.approved) }}<div class="alert alert-warning">This location is pending moderation and will not be visible on the map until accepted.</div>{{/}}

  <h2 class="location-name">{{badge.name}}</h2>

  <dl>
    <dt>Tree Information</dt>
    <dd>Types of trees: {{badge.types}}</dd>
    <dd>Approximate tree population: {{badge.quantity}}</dd>
    <dd>Abundance: {{badge.abundance}}</dd>
  </dl>

  <dl>
    <dt>Location</dt>
    <dd>Longitude: {{badge.longitude}}</dd>
    <dd>Latitude: {{badge.latitude}}</dd>
  </dl>

  <dl>
    <dt>Photos</dt>
    {{#badge.photos}}
    <dt><img class="location-photo" src="/static/uploaded_photos/{{image_path}}" /></dt>
    {{/}}
  </dl>
  {{/}}
</div>

<style>
.location-name{
  margin-top: 0;
}
.sidebar{
  color: #FFF;
  position: fixed;
  background: rgba(34, 34, 34, 0.9);
  width: 35%;
  padding: 15px;
  overflow-y: auto;
  box-shadow: 0 0 30px #000;
  left: 100%;
  top: 50px;
  bottom: 0;
  transition: all 0.4s;
}
.sidebar.visible{
  transform: translate(-100%, 0);
}
.close{
  color: #FFF;
}
dt{
  font-size: 1.5em;
  text-transform: capitalize;
}
.location-photo{
  display: block;
  width: 100%;
  padding-bottom: 15px;
}
.panel{
  background: transparent;
}
.management-buttons .heading{
  margin-top: 0;
}
</style>

<script>

var Badges = require('stores/badges');
var CurrentBadge = require('stores/badge-current');

component.exports = {
  data: {
    badge: {}
  },
  oninit: function() {
    var component = this;
    
    this.on('deleteMarker', this.deleteMarker);
    this.on('acceptMarker', this.acceptMarker);
    
    component.set('badge', CurrentBadge.getState());
    CurrentBadge.on('change', function(data) {
      component.set('badge', data);
    });
  },
  deleteMarker: function(event){
    var component = this;
    event.original.preventDefault();
    Badges.delete({
      id: this.get('badge.id'),
    }).then(function(response){
      alert('Location has been deleted.');
      component.fire('badgedeletesuccess', response);
    }, function(error){
      alert('Failed to delete location.');
      component.fire('badgedeleteerror', error);
    });
  },
  acceptMarker: function(event){
    var component = this;
    event.original.preventDefault();
    Badges.accept({
      id: this.get('badge.id'),
    }).then(function(response){
      alert('Location has been accepted.');
      component.fire('badgeacceptsuccess', response);
    },function(error){
      alert('Failed to accept location.');
      component.fire('badgeaccepterror', error);
    });
  },
};
</script>
